@import "~bootstrap/scss/bootstrap.scss";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.film-item {
  background-color: #fafafa;
  margin: 10px;
  padding: 10px;
}

.autocomplete-list {
  position: absolute;
  background-color: white;
  z-index: 1;
}

.banner-box {
  position: relative;
  height: 400px;
}

.banner-box-item {
  position: absolute;
  width: 100%;
  height: 100%;
}

.banner-box-item-overlay {
  position: absolute;
  bottom: 5px;
  margin: 5px;
}

.img-logo {
  width: 92px;
  height: 138px;
}
