{% extends 'form_div_layout.html.twig' %}

{% block _genre_filter_genre_row %}
    <ul>
        {{ dump(form) }}
        {#{% for children in form.children %}#}
        <li></li>
    </ul>
{% endblock %}
